@charset "utf-8";
/* CSS Document */
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "微软雅黑";
}
p {
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  line-height: 2em;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
.clear {
  clear: both;
}
#pinglun {
  width: 100%;
}
#cont {
  min-width: 320px;
  height: auto;
  min-height: 100%;
  width: 100%;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color: rgba(136, 75, 39, 0.8);
}
#cont2 {
  height: auto;
  min-height: 100%;
  width: 100%;
  /* margin-bottom: 4.2em;*/
}
#contd,
#contd2 {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: #FFF;
}
#contd {
  background-color: rgba(136, 75, 39, 0.8);
}
#contd2 {
  background-color: rgba(29, 130, 112, 0.9);
}
.toplogin,
.footlogin,
.mlogin {
  text-align: center;
}
.toplogin {
  padding: 3em 2em 1em 2em;
}
.toplogin img {
  width: 100%;
  max-width: 400px;
}
.footlogin img {
  width: 100%;
  max-width: 640px;
}
.login {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 1em 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  background-color: #e6e6e7;
}
.login input[type=text] {
  margin-left: 5px;
  font-size: 13px;
  border: none;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 3px;
  width: 65%;
  color: #666;
  margin-top: 0px;
}
.login input[type=password] {
  margin-left: 5px;
  font-size: 14px;
  border: none;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  width: 65%;
  color: #666;
}
.login input[type=button] {
  width: 30%;
  cursor: pointer;
  border: none;
  margin-top: -5px;
  background-color: #1D8270;
  -webkit-appearance: none;
}
.login input[type=submit] {
  width: 50%;
  cursor: pointer;
  border: none;
  background-color: #099;
  border-radius: 0.5em;
  font-size: 1em;
  color: #FFF;
  font-family: "微软雅黑";
  font-weight: bold;
  height: 2em;
  -webkit-appearance: none;
}
.topindex {
  width: 100%;
  background-color: #1d8270;
  color: #FFF;
}
.topindex .topt {
  padding: 12px 0 4px;
}
.topindex .search-icon {
  background: url(../images/search_icon.png) no-repeat left center;
  background-size: 16px;
  padding-left: 20px;
  margin-left: 10px;
}
.textbg {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  border: #c2bdbd 1px solid;
  background: #FFF;
  text-align: left;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.textbg img {
  margin: 0 5px 0 10px;
}
.textbg span {
  font-size: 14px;
  color: #979797;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea {
  -webkit-appearance: none;
}
input[type=checkbox] {
  margin-right: 5px;
}
input[type=button]:hover {
  background-color: #1D8270;
  background-repeat: no-repeat;
}
.text-content textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-content input[type=button] {
  width: 30%;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  background-color: #1D8270;
  -webkit-appearance: none;
}
.text-content input[type=submit] {
  width: 50%;
  cursor: pointer;
  border: none;
  background-color: #099;
  border-radius: 0.5em;
  font-size: 1em;
  color: #FFF;
  font-family: "微软雅黑";
  font-weight: bold;
  height: 2em;
  -webkit-appearance: none;
}
.tips1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: 300px;
}
.tips2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 39px;
  margin-left: 300px;
}
.about_password {
  width: 90%;
  height: 25px;
  margin: 15px auto;
  font-size: 12px;
  text-align: left;
}
.about_password a {
  color: #333;
  text-align: right;
  margin-right: 0px;
  float: right;
}
.btn {
  width: 90%;
  margin: 0 auto;
}
.change {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  padding-bottom: 5px;
}
.change p {
  margin-top: 5px;
  font-size: 1em;
  color: #666;
  line-height: 1em;
}
.login h1 {
  text-align: left;
  font-size: 1.2em;
  color: #C07446;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.ss,
.topt,
.fmenu {
  width: 90%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}
.ss {
  text-align: left;
  background-color: #dddcdb;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 5px 0;
}
.ss:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ss input {
  -webkit-appearance: none;
}
.ss input[type=text] {
  font-size: 12px;
  border: none;
  width: 64.5%;
  color: #666;
  margin-top: 0px;
  line-height: 32px;
  height: 32px;
  outline: none;
  display: inline-block;
  float: left;
  margin-left: 5px;
  padding: 0 0 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ss input[type=button] {
  width: 30%;
  cursor: pointer;
  border: none;
  background-color: #1D8270;
  -webkit-appearance: none;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 5px;
}
.search-list {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
}
.search-list table {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #DDD;
}
.search-list table td {
  text-align: left;
  padding: 2px 5px 2px 10px;
}
.fmenu {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.fmenu a {
  line-height: 1.8em;
  color: #FFF;
  margin-right: 5px;
  margin-left: 2px;
  clear: both;
  white-space: nowrap;
}
.buttonselect {
  height: 30px;
  vertical-align: middle;
  border: none;
  background-color: #360;
  color: #FFF;
}
.tleft {
  font-size: 1em;
  line-height: 2.2em;
  float: left;
  font-weight: bold;
}
.tright {
  font-size: 14px;
  line-height: 2.5em;
  float: right;
  height: 2.5em;
  vertical-align: text-bottom;
}
.tright a {
  color: #FFF;
}
.title {
  max-width: 640px;
  background-color: #dddcdb;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  text-align: left;
}
.titlet {
  background-color: #2BA485;
  font-weight: bold;
  color: #FFF;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100px;
  text-align: center;
}
.content {
  max-width: 640px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-bottom: 5px;
  border: 1px solid #CCC;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  clear: both;
}
h3 {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  line-height: 1.5em;
}
h3 a {
  color: #333;
}
h3 span {
  margin-left: 5px;
}
h3 img {
  margin-left: 10px;
}
h3 a:hover {
  text-decoration: none;
  color: #1f606e;
}
.infor_text_about {
  margin-top: 3px;
  margin-left: 7px;
  color: #999;
  font-size: 12px;
  line-height: 21px;
}
.time {
  height: 21px;
  float: right;
  line-height: 20px;
}
.name {
  float: right;
  width: 115px;
  height: 21px;
  margin-left: 15px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-right: 15px;
}
.name a {
  color: #999;
}
.name a:hover {
  text-decoration: none;
  color: #1f606e;
}
.user_contact {
  display: block;
  float: left;
  margin-top: -3px;
  margin-left: 10px;
  cursor: pointer;
}
.user_contact:hover {
  display: block;
  float: left;
  width: 300px;
  height: 21px;
}
.user_hover {
  display: none;
  margin-left: 10px;
}
.user_hover span {
  margin-left: 20px;
}
.user_contact:hover .user_hover {
  display: inline;
  margin-left: 10px;
  cursor: auto;
}
.open {
  display: none;
}
.open_btn {
  width: 90%;
  max-width: 640px;
  height: 2em;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  background-color: #1D8270;
}
.open_btn a {
  color: #FFF;
}
.open_btn a:hover {
  text-decoration: none;
}
.title span {
  font-size: 14px;
  line-height: 2em;
  margin-left: 5px;
}
.page {
  height: 2em;
  margin-left: auto;
  font-size: 13px;
  width: 90%;
  margin-right: auto;
  text-align: center;
  line-height: 2em;
}
.page span {
  display: block;
  float: left;
  margin-right: 10px;
}
.page a {
  color: #FFF;
  padding: 3px 5px;
  background: #8fc251;
}
.text_left {
  max-width: 640px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  clear: both;
}
.text_zhenwen {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 28px;
  word-break: break-word;
}
.text_zhenwen p {
  margin-top: 0;
}
.text_zhenwen img {
  max-width: 100%;
  height: auto;
}
.discuss {
  text-align: left;
  width: 90%;
  line-height: 30px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999;
  clear: both;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  word-wrap: break-word;
  padding-bottom: 5px;
  padding-top: 5px;
}
.send {
  background-color: #407E65;
  float: right;
  height: 30px;
  width: 100px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
.fankui {
  text-align: left;
  width: 100%;
  line-height: 30px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #999;
  clear: both;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  word-wrap: break-word;
  padding-bottom: 5px;
  padding-top: 5px;
}
.liulan {
  color: #900;
  font-weight: bold;
}
.fankui p {
  text-indent: 2em;
}
.line {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #CCC;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
}
.huifu {
  text-align: right;
  font-size: 14px;
}
.teacherno {
  font-size: 14px;
  text-indent: 0.5em;
  padding-top: 0px;
  word-break: break-all;
}
.content p a {
  color: #333;
}
/* 2017-07-24改版优化*/
body,
input,
textarea,
select,
button {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  min-width: 320px;
  margin: auto;
}
.zoom-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.fix-width {
  max-width: 640px;
  width: 90%;
  margin: 0 auto;
}
.fix-short-width {
  width: 85%;
  margin: 0 auto;
}
.fix-width-flex {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.center {
  text-align: center;
}
.full-page {
  height: 100%;
}
.row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  min-height: 1px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.col-12:after,
.col-11:after,
.col-10:after,
.col-9:after,
.col-8:after,
.col-7:after,
.col-6:after,
.col-5:after,
.col-4:after,
.col-3:after,
.col-2:after,
.col-1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  float: left;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
.line-scale {
  text-align: center;
}
.line-scale > div {
  background-color: #1d8270;
  width: 3px;
  height: 30px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.label {
  display: inline-block;
  vertical-align: top;
}
.label:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.label:before {
  content: '';
  display: block;
  float: left;
  border-right: 6px solid #F00;
  border-left: 4px solid transparent;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}
.label i {
  font-style: normal;
  float: left;
  display: block;
  line-height: 12px;
  font-size: 12px;
  padding: 3px 6px 3px 3px;
  color: white;
  background: #F00;
}
.label.blue:before {
  border-right: 6px solid #1E90FF;
}
.label.blue i {
  background: #1E90FF;
}
.label.green:before {
  border-right: 6px solid #228B22;
}
.label.green i {
  background: #228B22;
}
.label.orange:before {
  border-right: 6px solid #D2691E;
}
.label.orange i {
  background: #D2691E;
}
.footer-menu {
  height: 50px;
}
.footer-menu .footer-menu-fixed {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #eee;
  z-index: 999;
  border-top: 1px solid #ccc;
}
.footer-menu .footer-menu-static {
  position: relative;
  z-index: 999;
  height: 50px;
  width: 100%;
  background: #eee;
  border-top: 1px solid #ccc;
}
.footer-menu .pop-layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  visibility: hidden;
}
.footer-menu .pop-layer.show {
  visibility: visible;
}
.footer-menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.footer-menu a {
  cursor: auto;
  text-decoration: none;
  color: #666;
}
.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: none;
}
.footer-menu .cell {
  position: relative;
  height: 50px;
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  font-size: 12px;
  color: #666;
  padding-top: 4px;
}
.footer-menu .cell:before {
  content: '';
  display: block;
  height: 25px;
  background: url() no-repeat center top;
  background-size: 25px;
  margin-bottom: 2px;
}
.footer-menu .cell.on {
  color: #1d8270;
}
.footer-menu .cell.on:before {
  background-position: center -25px;
}
.footer-menu .menu-icon1:before {
  background-image: url(../images/nav_icon1.png);
}
.footer-menu .menu-icon2:before {
  background-image: url(../images/nav_icon2.png);
}
.footer-menu .menu-icon2 .sub-menu {
  width: 110%;
  left: -5%;
}
.footer-menu .menu-icon3:before {
  background-image: url(../images/nav_icon3.png);
}
.footer-menu .menu-icon4:before {
  background-image: url(../images/nav_icon4.png);
}
.footer-menu .sub-menu {
  background: white;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding: 0 10px;
  border: 1px solid #bebebe;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  bottom: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: bottom 0.3s,opacity 0.3s;
  -o-transition: bottom 0.3s,opacity 0.3s;
  transition: bottom 0.3s,opacity 0.3s;
}
.footer-menu .sub-menu ul {
  display: block;
}
.footer-menu .sub-menu a {
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #e7e7e7;
}
.footer-menu .sub-menu a:last-child {
  border-bottom: none;
}
.footer-menu .sub-menu:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 12px;
  background: url(../images/arrow.png) no-repeat center top;
  background-size: 12px;
}
.footer-menu .sub-menu.active {
  bottom: 60px;
  opacity: 1;
  visibility: visible;
}
.breadcrumb-nav {
  text-align: left;
  margin: 10px 0;
  background: #eee;
  color: #555;
  font-size: 14px;
  padding: 5px 10px;
}
.breadcrumb-nav a,
.breadcrumb-nav span {
  display: inline-block;
  margin-right: 3px;
}
.breadcrumb-nav a {
  color: #1d8270;
}
.menu-list .cell {
  display: block;
  line-height: 45px;
  padding-left: 40px;
  background: url() no-repeat left center;
  background-size: 28px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
}
.menu-list .cell:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 45px;
  float: right;
  background: url(../images/arrow_right.png) no-repeat center;
  background-size: 20px;
}
.menu-list .cell.business-icon1 {
  background-image: url(../images/info_icon1.png);
}
.menu-list .cell.business-icon2 {
  background-image: url(../images/info_icon2.png);
}
.menu-list .cell.business-icon3 {
  background-image: url(../images/info_icon3.png);
}
.menu-list .cell.business-icon4 {
  background-image: url(../images/info_icon4.png);
}
.menu-list .cell.business-icon5 {
  background-image: url(../images/info_icon5.png);
}
.menu-list .cell.business-icon6 {
  background-image: url(../images/info_icon6.png);
}
.menu-list .cell.business-icon7 {
  background-image: url(../images/info_icon7.png);
}
.menu-list .cell.business-icon8 {
  background-image: url(../images/info_icon8.png);
}
.common-form {
  border-top: 1px solid #eee;
  margin-top: 10px;
}
.common-form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.common-form .part-line {
  border-top: 1px solid #eee;
  margin: 8px 0;
}
.common-form table {
  width: 100%;
}
.common-form table th {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  width: 70px;
  color: #343434;
  height: 34px;
}
.common-form table td {
  padding: 6px 0;
}
.common-form table td p {
  line-height: 22px;
  color: #7f7f7f;
  font-size: 14px;
}
.common-form table td input[type="text"],
.common-form table td input[type="password"],
.common-form table td select {
  border: 1px solid #ababab;
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 35px;
  outline: none;
  padding: 0 8px;
  transition: all 0.3s;
  background: white;
  -webkit-appearance: none;
  font-size: 14px;
}
.common-form table td input[type="text"]:focus,
.common-form table td input[type="password"]:focus,
.common-form table td select:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.common-form table td select {
  background: white url(../images/icon_arrow.png) no-repeat 97% center;
  background-size: 16px;
}
.common-form table td .inline-select:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.common-form table td .inline-select select {
  display: block;
  width: 48%;
  float: left;
  background-position: 94% center;
}
.common-form table td .inline-select select.right-select {
  float: right;
}
.common-form input[type="submit"] {
  display: block;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: #1d8270;
  color: white;
  width: 40%;
  min-width: 160px;
  margin: 20px auto 30px;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
}
.add-form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.add-form .form-line {
  margin-bottom: 20px;
}
.add-form .form-line .line-title {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}
.add-form .form-line .line-title:before {
  content: '*';
  color: #ed3f3f;
}
.add-form .form-line select,
.add-form .form-line input[type="text"],
.add-form .form-line .select {
  width: 100%;
  display: block;
  border: 1px solid #aaa;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  background: white;
  -webkit-appearance: none;
  font-size: 14px;
}
.add-form .form-line select:focus,
.add-form .form-line input[type="text"]:focus,
.add-form .form-line .select:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.add-form .form-line select,
.add-form .form-line .select {
  background: url(../images/icon_arrow.png) no-repeat 97% center;
  background-size: 16px;
}
.add-form .form-line .return-home {
  margin: 30px 0 15px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.add-form .form-line .select {
  line-height: 40px;
}
.add-form .form-line input[type="radio"] {
  display: none;
}
.add-form .form-line .margin-input {
  margin-top: 10px;
}
.add-form .form-line label {
  font-size: 14px;
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
  padding: 0 12px 0 20px;
  background: url(../images/radio.png) no-repeat left top;
  background-size: 16px;
}
.add-form .form-line label.on {
  background-position: left -16px;
}
.add-form .form-line i.min-red {
  font-style: normal;
  font-size: 12px;
  color: #ed3f3f;
}
.add-form .form-line .tool-bar {
  text-align: right;
}
.add-form .form-line .tool-bar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.add-form .form-line .tool-bar .tool-btn {
  position: relative;
  float: right;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-top: 20px;
  overflow: hidden;
}
.add-form .form-line .tool-bar .tool-btn .btn-icon {
  width: 100%;
  height: 100%;
  background: url() no-repeat center;
  background-size: 100%;
}
.add-form .form-line .tool-bar .tool-btn .add-img {
  background-image: url(../images/icon_img.png);
}
.add-form .form-line .tool-bar .tool-btn .add-link {
  background-image: url(../images/icon_link.png);
}
.add-form .form-line .tool-bar .tool-btn .add-file {
  background-image: url(../images/icon_file.png);
}
.add-form .form-line .tool-bar .tool-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.add-form .display-time input[type="date"] {
  width: 40%;
  border: 1px solid #aaa;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  background: white;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 40px;
}
.add-form .display-time input[type="date"]:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.add-form .display-time span {
  font-size: 14px;
  display: inline-block;
  padding: 0 6px;
  line-height: 40px;
  height: 40px;
  vertical-align: top;
}
.add-form .file-list {
  width: 100%;
  position: relative;
}
.add-form .file-list tr {
  position: relative;
  left: -50px;
  opacity: 1;
  transition: all 0.3s;
}
.add-form .file-list tr.delete-animate {
  opacity: 0;
}
.add-form .file-list .file-name {
  background: url(../images/file_color.png) no-repeat left 10px;
  background-size: 22px;
  padding: 10px 5px 10px 27px;
  font-size: 14px;
  line-height: 18px;
}
.add-form .file-list .upload-progress {
  width: 45px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  vertical-align: top;
  padding-top: 10px;
}
.add-form .file-list .delete {
  width: 30px;
  background: url(../images/delete.png) no-repeat center 8px;
  background-size: 22px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}
.add-form .file-list .delete.hide {
  visibility: hidden;
  opacity: 0;
}
.add-form .btn-submit {
  text-align: center;
  margin: 20px auto 30px;
}
.add-form .btn-submit input[type=button],
.add-form .btn-submit input[type=submit] {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: #1d8270;
  color: white;
  width: 30%;
  min-width: 110px;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  margin: 0 10px;
}
.add-form .btn-submit input[type=button].full-width {
  width: 100%;
  margin: 0;
}
.add-form .btn-submit input[type=button].disable {
  background: #969696;
}
.add-form .btn-submit input[type=submit].full-width {
  width: 100%;
  margin: 0;
}
.add-form .btn-submit input[type=submit].disable {
  background: #969696;
}
.add-form .checkbox-pack {
  margin-top: 20px;
}
.checkbox-pack .checkbox-ui {
  display: inline-block;
  font-size: 12px;
  background: url(../images/checkbox.png) no-repeat left top;
  background-size: 14px;
  line-height: 14px;
  height: 14px;
  padding-left: 20px;
}
.checkbox-pack .checkbox-ui.on {
  background-position: left -14px;
}
.article-editor {
  padding: 10px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 160px;
  font-size: 14px;
  color: #333;
}
.article-editor .placeholader {
  font-size: 14px;
  color: #999;
}
.article-editor:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.article-editor img {
  max-width: 80%;
}
.article-editor a {
  display: inline-block;
  color: #0066cc;
  text-decoration: underline;
}
.pop {
  position: relative;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, z-index 0.3s;
  transition: opacity 0.3s, z-index 0.3s;
}
.pop .pop-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: block;
}
.pop .pop-up {
  width: 90%;
  max-width: 640px;
  margin: 10% auto 0;
  background: white;
  display: block;
  color: black;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: translateY(-300px);
}
.pop .pop-header {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.pop .pop-header .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: #999;
  cursor: pointer;
  background: url(../images/pop_close.png) no-repeat center;
  background-size: 14px;
  width: 40px;
  height: 40px;
}
.pop .pop-body {
  padding: 15px;
}
.pop .pop-body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pop .pop-body .form-line {
  margin-bottom: 20px;
}
.pop .pop-body .form-line .sub-title {
  margin-bottom: 6px;
  font-size: 14px;
}
.pop .pop-body input[type="text"] {
  width: 100%;
  display: block;
  border: 1px solid #aaa;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  background: white;
  font-size: 14px;
  -webkit-appearance: none;
}
.pop .pop-body input[type="text"]:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.pop .pop-body textarea {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 120px;
  padding: 10px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  outline: none;
  resize: none;
}
.pop .pop-body textarea:focus {
  border-color: #1d8270;
  box-shadow: 0 0 4px rgba(29, 130, 112, 0.5);
}
.pop .pop-body .open-new-window {
  display: inline-block;
  font-size: 12px;
  background: url(../images/checkbox.png) no-repeat left top;
  background-size: 14px;
  line-height: 14px;
  height: 14px;
  padding-left: 20px;
}
.pop .pop-body .open-new-window.on {
  background-position: left -14px;
}
.pop .pop-footer {
  position: relative;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}
.pop .pop-footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pop .pop-footer input[type="button"] {
  float: right;
  display: block;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: #1d8270;
  color: white;
  width: 30%;
  min-width: 100px;
  margin: 5px auto;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  outline: none;
}
.pop .pop-footer input[type="submit"] {
  display: block;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: #1d8270;
  color: white;
  width: 30%;
  min-width: 100px;
  margin: 5px auto;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  outline: none;
}
.pop.pop-reply .pop-header {
  border-bottom: none;
}
.pop.pop-reply .pop-body {
  padding: 10px 15px 0px 15px;
}
.pop.pop-reply .pop-footer {
  border-top: none;
}
.pop.pop-reply .pop-footer input[type="button"] {
  float: none;
}
.pop.pop-reply .pop-footer input[type="button"].disable {
  background: #969696;
}
.pop.pop-reply .pop-footer input[type="submit"] {
  float: none;
}
.pop.pop-reply .pop-footer input[type="submit"].disable {
  background: #969696;
}
.pop.pop-show {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}
.pop.pop-show .pop-up {
  transform: translateY(0px);
}
.feedback * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feedback i {
  font-style: normal;
}
.feedback a:hover {
  text-decoration: none;
}
.feedback .top-section {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.feedback .top-section .title-header {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  padding-top: 10px;
}
.feedback .top-section .title-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feedback .top-section .title-header .text {
  float: left;
  line-height: 30px;
}
.feedback .top-section .title-header select {
  height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
  float: right;
  line-height: 28px;
  border-radius: 5px;
  -webkit-appearance: none;
  padding: 0 10px;
  min-width: 160px;
  width: 55%;
  border: 1px solid #999;
  color: #666;
  outline: none;
  background: url(../images/icon_arrow.png) no-repeat 95% center;
  background-size: 14px;
}
.feedback .top-section .state-nav-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feedback .top-section .state-nav-list .cell {
  font-size: 14px;
  display: block;
  width: 20%;
  float: left;
  text-align: center;
}
.feedback .top-section .state-nav-list .cell .text {
  color: #656565;
}
.feedback .top-section .state-nav-list .cell p {
  color: #999;
}
.feedback .top-section .state-nav-list .cell:hover {
  border-bottom: 3px solid #1b8271;
}
.feedback .top-section .state-nav-list .cell.on {
  border-bottom: 3px solid #1b8271;
}
.feedback .article-list {
  margin: 12px 0;
}
.feedback .article-list .cell {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 0.35s;
  display: block;
  border: 1px solid #b5b5b5;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 5px;
}
.feedback .article-list .cell .art-title {
  color: #333;
  background: #f7f7f7;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.feedback .article-list .cell .art-title:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feedback .article-list .cell .art-title .text {
  float: left;
  width: 75%;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.feedback .article-list .cell .art-title .status {
  float: right;
  width: 62px;
  text-align: right;
  line-height: 40px;
  font-size: 14px;
  background: url() no-repeat left center;
  background-size: 16px;
}
.feedback .article-list .cell .art-title .replied {
  background-image: url(../images/icon_replied.png);
  color: #18a2eb;
}
.feedback .article-list .cell .art-title .resolved {
  background-image: url(../images/icon_resolved.png);
  color: #1bb10a;
}
.feedback .article-list .cell .art-title .unsolved {
  background-image: url(../images/icon_unsolved.png);
  color: #da0007;
}
.feedback .article-list .cell .art-title .wait-reply {
  background-image: url(../images/icon_wait_reply.png);
  color: #f77311;
}
.feedback .article-list .cell .detail {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  color: #5a5a5a;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.feedback .article-list .cell .info {
  padding: 0 10px 5px 10px;
}
.feedback .article-list .cell .info i {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #9a9a9a;
  margin-right: 15px;
}
.feedback .article-list .cell .info .issue-time {
  background: url(../images/icon_clock.png) no-repeat left center;
  background-size: 13px;
  padding-left: 17px;
}
.feedback .article-list .cell.offset-in {
  top: 10px;
  opacity: 0;
}
.feedback .normal-btn {
  margin: 0 auto 30px;
  text-align: center;
}
.feedback .normal-btn a {
  display: inline-block;
  background: #1d8270;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 40px;
  width: 35%;
  text-align: center;
}
.fix-contain {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.feedback-detail i {
  font-style: normal;
}
.feedback-detail .status-tips {
  padding: 17px 0;
  line-height: 20px;
  text-align: center;
  border-bottom: 5px solid #eeeeee;
  font-size: 16px;
}
.feedback-detail .status-tips:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url() no-repeat center center;
  background-size: 100%;
  margin-right: 8px;
  vertical-align: top;
}
.feedback-detail .status-tips.wait-reply {
  color: #fd6f09;
  background: #ffe9db;
}
.feedback-detail .status-tips.wait-reply:before {
  background-image: url(../images/icon_wait_reply.png);
}
.feedback-detail .status-tips.replied {
  color: #26a3d9;
  background: #c8efff;
}
.feedback-detail .status-tips.replied:before {
  background-image: url(../images/icon_replied.png);
}
.feedback-detail .status-tips.unsolved {
  color: #d30010;
  background: #ffdce0;
}
.feedback-detail .status-tips.unsolved:before {
  background-image: url(../images/icon_unsolved.png);
}
.feedback-detail .status-tips.resolved {
  color: #2ea523;
  background: #d9ffd4;
}
.feedback-detail .status-tips.resolved:before {
  background-image: url(../images/icon_resolved.png);
}
.feedback-detail .section {
  font-size: 14px;
  border-bottom: 5px solid #eeeeee;
}
.feedback-detail .section .section-title {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}
.feedback-detail .section .fb-info {
  padding: 10px 10px 0 0;
}
.feedback-detail .section .fb-info i {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #9a9a9a;
  margin-right: 15px;
}
.feedback-detail .section .fb-info .issue-time {
  background: url(../images/icon_clock.png) no-repeat left center;
  background-size: 13px;
  padding-left: 17px;
}
.feedback-detail .section .fb-detail {
  padding: 10px 0;
  color: #666;
}
.feedback-detail .section .fb-detail img {
  max-width: 100%;
  margin: 2px 0;
}
.feedback-detail .section .reply-list .no-msg {
  padding: 10px 0;
  color: #999;
  text-align: center;
}
.feedback-detail .section .reply-list .cell:first-child .reply-top:before {
  display: none;
}
.feedback-detail .section .reply-list .cell .reply-top {
  padding: 10px 0;
  font-size: 12px;
  line-height: 21px;
}
.feedback-detail .section .reply-list .cell .reply-top:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feedback-detail .section .reply-list .cell .reply-top:before {
  content: '';
  display: block;
  border-top: 1px solid #bbb;
  margin-bottom: 10px;
}
.feedback-detail .section .reply-list .cell .reply-top .reply-num {
  float: left;
  font-size: 16px;
}
.feedback-detail .section .reply-list .cell .reply-top .fb-info {
  float: right;
  padding: 0;
}
.feedback-detail .section .reply-list .cell .reply-top .fb-info i {
  margin: 0 0 0 10px;
}
.feedback-detail .section .reply-list .cell .reply-top .fb-info .issue-time {
  background: none;
  padding-left: 0;
}
.feedback-detail .section .reply-list .cell .reply-content {
  color: #666;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.feedback-detail .section .reply-list .cell .reply-content img {
  max-width: 100%;
}
.feedback-detail .section .reply-list .cell .reply-mark {
  position: relative;
  background: #d3efea;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}
.feedback-detail .section .reply-list .cell .reply-mark:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 10px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #d3efea;
}
.feedback-detail .section .reply-list .cell .reply-mark .mark-title:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feedback-detail .section .reply-list .cell .reply-mark .mark-title .manager {
  color: #1d8270;
  margin-right: 10px;
}
.feedback-detail .section .reply-list .cell .reply-mark .mark-title .time {
  color: #999;
  font-size: 12px;
  float: none;
}
.feedback-detail .section .reply-list .cell .reply-mark .mark-content {
  color: #333;
  padding: 5px 0;
}
.feedback-detail .feedback-bottom {
  text-align: center;
  padding: 20px 0;
}
.feedback-detail .feedback-bottom .return-link {
  font-size: 14px;
  color: #666;
}
.feedback-detail .feedback-bottom .btns {
  margin-bottom: 20px;
}
.feedback-detail .feedback-bottom .btns input[type="button"] {
  -webkit-appearance: none;
  display: inline-block;
  background: #1d8270;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 42%;
  margin: 0 2%;
}
.feedback-detail .feedback-bottom .btns input[type="button"].disable {
  background: #969696;
}
.feedback-detail .feedback-bottom .form-line {
  text-align: left;
}
.fixed-right-btn {
  position: fixed;
  right: 0;
  top: 40%;
  text-align: center;
  transparent: right 0.3s;
  opacity: 1;
  transition: all 0.3s;
}
.fixed-right-btn .feedback-btn {
  display: block;
  background: #1d8270;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fixed-right-btn .feedback-btn .text {
  color: white;
  width: 40px;
  font-size: 13px;
  padding: 5px 3px;
  letter-spacing: 1px;
  line-height: 18px;
}
.fixed-right-btn.animate {
  right: -35px;
  opacity: 0;
}
@-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}
@keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}
.pacman {
  position: relative;
}
.pacman > div:nth-child(2) {
  -webkit-animation: pacman-balls 1s 0s infinite linear;
  animation: pacman-balls 1s 0s infinite linear;
}
.pacman > div:nth-child(3) {
  -webkit-animation: pacman-balls 1s 0.33s infinite linear;
  animation: pacman-balls 1s 0.33s infinite linear;
}
.pacman > div:nth-child(4) {
  -webkit-animation: pacman-balls 1s 0.66s infinite linear;
  animation: pacman-balls 1s 0.66s infinite linear;
}
.pacman > div:nth-child(5) {
  -webkit-animation: pacman-balls 1s 0.99s infinite linear;
  animation: pacman-balls 1s 0.99s infinite linear;
}
.pacman > div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #8fc251;
  border-left: 25px solid #8fc251;
  border-bottom: 25px solid #8fc251;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
  animation: rotate_pacman_half_up 0.5s 0s infinite;
}
.pacman > div:nth-child(2) {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #8fc251;
  border-left: 25px solid #8fc251;
  border-bottom: 25px solid #8fc251;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
  animation: rotate_pacman_half_down 0.5s 0s infinite;
  margin-top: -50px;
}
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #8fc251;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -6.25px);
  -ms-transform: translate(0, -6.25px);
  transform: translate(0, -6.25px);
  top: 25px;
  left: 100px;
}
.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  text-align: center;
}
.loading .load-content {
  border-radius: 5px;
  background: white;
  width: 80%;
  max-width: 600px;
  padding: 60px 0 50px;
  margin: 40% auto 0;
}
.loading .load-content .loader-inner {
  width: 120px;
  margin: 0 auto 30px;
}
.loading .load-content .text {
  color: #8fc251;
  font-size: 14px;
}
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ball-spin-fade-loader {
  position: relative;
}
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.06s infinite linear;
  animation: ball-spin-fade-loader 1s 0.06s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.18s infinite linear;
  animation: ball-spin-fade-loader 1s 0.18s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.3s infinite linear;
  animation: ball-spin-fade-loader 1s 0.3s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.42s infinite linear;
  animation: ball-spin-fade-loader 1s 0.42s infinite linear;
}
.ball-spin-fade-loader > div {
  background-color: #8fc251;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
}
.lazy-loading {
  text-align: center;
  padding: 20px 0 20px;
}
.lazy-loading .loader-inner {
  width: 64px;
  height: 64px;
  margin: 0 auto 5px;
  transform: scale(0.5);
  position: relative;
  left: 10px;
  top: 10px;
}
.lazy-loading .text {
  color: #999;
  font-size: 14px;
}
.bottom-tips {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 25px;
}
.bottom-tips:before,
.bottom-tips:after {
  content: '';
  display: inline-block;
  border-top: 1px dotted #aaa;
  width: 40px;
  vertical-align: middle;
  margin: 0 5px;
}
@media (max-width: 330px) {
  .feedback-detail .section .reply-list .cell .reply-top .reply-num {
    font-size: 14px;
  }
  .feedback-detail .section .reply-list .cell .reply-top .fb-info i {
    margin: 0 0 0 4px;
  }
}
